.bubble_contain {
  /* background-color: aqua; */
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}
.bubble_contain .bubble {
  max-width: 500px;
  overflow-wrap: break-word;
  padding: 10px 20px;
  margin: 1px;
  border-radius: 50px;
}
.left {
  /* background-color: bisque; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.right {
  /* background-color: bisque; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.right .chat_name {
  display: none !important;
}
.chat_name {
  font-weight: bold;
}
.right .bubble {
  border-bottom-left-radius: 50px !important;
  background-color: #9c71fc;
}
.right .chat_dp {
  display: none !important;
}
.chat_dp {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.left .bubble {
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(214, 214, 214);
  border-bottom-right-radius: 50px !important;
}
.bubble_contain .msg_contain {
  display: flex;
  gap: 5px;
}
.dpimg_contain {
  height: 50px;
  width: 50px;
}
